extends html_layout

block content
    if exists
        title= `Ansedel: ${first_name}${last_name}`

        - var mNames = middle_name.join(' ');

        div(class="page-header")
            h1= `${first_name} ${mNames} ${last_name}`
            small Ansedel
    else
        h1 Ansedel existerar ej!
        a(class="btn btn-primary" href="/ansedel" role="button") Tillbaka till register





