extends html_layout

block content
    title= `Ansedel: ${first_name}${last_name}`

    - var mNames = middle_name.join(' ');

    div(class="page-header")
        small Ansedel
        h1= `${first_name} ${mNames} ${last_name}`

    small #{(age) ? age : "??"} år gammal

    p= `${siblings}`

    div(class="container")
        div(class="row")
            div(class="col-md-4") Birth shit
            div(class="col-md-4") Death shit
            div(class="col-md-4") bury shit
    // Mother, father

    //Kids




